@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  min-height: 100vh;
  background-color: var(--yellow);
  display: flex;

  .text-preset-1 {
    line-height: 1.5;
    font-family: "Figtree", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--gray-950);
  }

  .text-preset-2 {
    line-height: 1.5;
    font-family: "Figtree", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray-950);
  }

  .text-preset-3 {
    line-height: 1.5;
    font-family: "Figtree", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-950);
  }

  .text-preset-3-bold {
    line-height: 1.5;
    font-family: "Figtree", sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: var(--gray-950);
  }

  main {
    margin: auto;
    padding-inline: 1.5rem;
    width: 100%;
    max-width: 27rem;

    .card {
      background-color: var(--white);
      border-radius: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1.5rem;
      box-shadow: 0.5rem 0.5rem #000;

      .card__img {
        width: 100%;
        border-radius: 1.125rem;
      }

      .card__content {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .card__content__tag {
          background-color: var(--yellow);
          border-radius: 0.25rem;
          padding: 0.25rem 0.75rem;
          width: fit-content;
        }

        .card__content__description {
          color: var(--gray-500);
        }
      }

      .card__author {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        .card__author__img {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
        }
      }
    }
  }

  .attribution {
    display: none;
  }
}
